@charset "utf-8";
/* Speca start */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  outline: none;
  list-style-type: none;
}

body {
  font-family: 'ProximaNova', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  background-color: #fff;
  position: relative;
  overflow-x: hidden;
}

a {
  color: #fff;

  &:hover {
    opacity: 0.9;
  }
}

a[href^="tel"] {
  white-space: nowrap;
}

label.error {
  display: none !important;
}

form .error {
  box-shadow: inset 0 0 5px rgba(251,72,10,.95);
}

label {
  cursor: pointer;
}

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 26px;
  height: 26px;
  background-color: #fff;
  outline: 0;
  margin-right: 23px;
  cursor: pointer;
}

input[type=checkbox] {
  border: 1px solid #cccdd9;
}

input[type=checkbox]:checked {
  border: 1px solid #14ad6b;
}

input[type=checkbox]:checked:before {
  content: "";
  display: block;
  width: 12px;
  height: 19px;
  border: 0 solid #14ad6b;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotateZ(45deg);
  margin: -1px 6px;
  pointer-events: none;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
/* Speca end */
/* Colors start */
.darkblue {
  background-color: #134fbf;
}

.mint {
  background-color: #1fafb6;
}

.yellow {
  background-color: #ffad01;
}

.green {
  background-color: #01a068;
}

.orange {
  background-color: #f1521b;
}

.purple {
  background-color: #8f41bc;
}

.blue {
  background-color: #2594da;
}

.pink {
  background-color: #b807af;
}
/* Colors end */
/* Fonts start */

.proximaCondBlack {
  font-family: 'ProximaNovaCond';
  font-weight: 900;
}

.akzidenzCn {
  font-family: 'AkzidenzGroteskProCond';
  font-weight: normal;
}

.akzidenzMdCn {
  font-family: 'AkzidenzGroteskProCond';
  font-weight: 500;
}

.akzidenzReg {
  font-family: 'AkzidenzGroteskPro';
  font-weight: normal;
}

.akzidenzMd {
  font-family: 'AkzidenzGroteskPro';
  font-weight: 500;
}
/* Fonts end */
/* Header start */

.header {
  @extend .akzidenzCn;
  color: #e62020;
  font-size: 18px;
  height: 80px;
  align-items: center;
  justify-content: space-between;

  a {
    color: #e62020;

    &:hover {
      text-decoration: underline;
    }

    &.active {
      color: #adb3c9;
    }
  }
}

.menu {
  display: flex;

  li {
    margin-right: 10px;
  }
}

.support {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #134fbf;

  a {
    color: #134fbf;
    line-height: 1;

    &:hover {
      text-decoration: underline;
    }

    &[href^="tel"] {
      font-size: 30px;
    }
  }

  p {
    text-align: right;
    display: flex;
    font-family: 'ProximaNova';
    font-size: 14px;
    line-height: normal;
    padding-right: 10px;
  }

  div {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.user {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 60px;

  &__avatar {
    max-width: 35px;
  }
}
/* Header end */
/* First start */
#first {
  background: url('../img/main-bg.jpg') no-repeat center center / cover;

  .title {
    font-size: 14px;
  }

  .row {
    flex-direction: column;
    align-items: center;
    padding: 42px 0 80px;
  }

  img {
    max-width: 525px;
  }
}
/* First end */
/* Home start */

#home {
  text-shadow: 0 1px 1px rgba(150, 150, 150, 1);
  padding-bottom: 133px;

  h2 {
    margin: 68px auto 20px;
  }

  .home {
    flex-wrap: nowrap;
    align-items: stretch;
    margin-top: -25px;
  }

  [class^='col-lg'] {
    display: flex;
    padding: 0 10px;
  }
}

.status {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #a5a4b5;
  padding: 45px 30px;
  border-radius: 1px;
  box-shadow: 0 5px 29px 0 rgba(0,0,0,0.33);

  &-big {
    flex-direction: row;
    justify-content: space-between;
  }

  &__count {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__name,
  &__value {
    @extend .akzidenzMdCn;
    font-size: 56px;
    line-height: 50px;
  }

  &__value {
    display: flex;
    align-items: flex-start;
    white-space: nowrap;

    span {
      font-size: 16px;
      opacity: 0.5;
      font-family: 'ProximaNova';
      font-weight: 800;
      line-height: normal;
    }
  }
}

h2 {
  @extend .akzidenzCn;
  color: #000;
  font-size: 46px;
  text-transform: none;
}

.themes {
  margin-bottom: 75px;
}

.theme {
  padding: 35px 0 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 2px;

  &-darkblue {
    background-color: #134fbf;
    box-shadow: 0 -16px 0 -8px rgba(19, 79, 191, .3), 0 -8px 0 -4px rgba(19, 79, 191, .3);
  }

  &-mint {
    background-color: #1fafb6;
    box-shadow: 0 -16px 0 -8px rgba(31,175,182, .3), 0 -8px 0 -4px rgba(31,175,182, .3);
  }

  &-yellow {
    background-color: #ffad01;
    box-shadow: 0 -16px 0 -8px rgba(255,173,1,.3), 0 -8px 0 -4px rgba(255,173,1,.3);
  }

  &-green {
    background-color: #01a068;
    box-shadow: 0 -16px 0 -8px rgba(1,160,104,.3), 0 -8px 0 -4px rgba(1,160,104,.3);
  }

  &-orange {
    background-color: #f1521b;
    box-shadow: 0 -16px 0 -8px rgba(241,82,27,.3), 0 -8px 0 -4px rgba(241,82,27,.3);
  }

  &-purple {
    background-color: #8f41bc;
    box-shadow: 0 -16px 0 -8px rgba(143,65,188,.3), 0 -8px 0 -4px rgba(143,65,188,.3);
  }

  &-blue {
    background-color: #2594da;
    box-shadow: 0 -16px 0 -8px rgba(37,148,218,.3), 0 -8px 0 -4px rgba(37,148,218,.3);
  }

  &-pink {
    background-color: #b807af;
    box-shadow: 0 -16px 0 -8px rgba(184,7,175,.3), 0 -8px 0 -4px rgba(184,7,175,.3);
  }

  &__top {
    @extend .akzidenzMdCn;
    font-size: 18px;
    letter-spacing: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__line {
    height: 1px;
    background-color: #fff;
    width: auto;
    flex-basis: 22%;
    opacity: 0.8;
  }

  &__center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 80px 20px 73px;
    height: 285px;
  }

  &__button {
    display: flex;
    align-items: center;
    margin: 30px 32px 0;
    padding: 16px 25px;
    border: 1px solid rgba(0,0,0,0.33);
    border-radius: 3px;
    color: rgba(0,0,0,0.33);
    text-shadow: none;
    max-height: 70px;
    font-size: 16px;

    img {
      max-width: 30px;
      margin-right: 15px;
      opacity: 0.3;
    }
  }

  &__button.active {
    box-shadow: 0 5px 29px 0 rgba(0,0,0,0.33);
    border-color: white;
    color: white;

    img {
      max-width: 35px;
      margin-right: 0;
      opacity: 1;
    }
  }

  h2 {
    color: #fff;
    margin: 15px 0 0 !important;
    text-align: center;
  }
}
/* Home end */
/* SGF start */

#sgf {
  background: url('../img/sgf-bg.jpg') no-repeat center center / cover;
  padding: 25px 0;

  .row {
    max-width: 50%;

    &:last-child {
      padding-left: 42px;
    }
  }

  img {
    max-width: 460px;
  }
}

.sgf-title {
  @extend .proximaCondBlack;
  font-size: 64px;
  line-height: 64px;
  padding: 20px 0;
}

.sgf-button {
  width: 224px;
  height: 53px;
  text-align: center;
  font-weight: 700;
  background-color: #ed1c24;
  border-radius: 3px;
  line-height: 53px;
}
/* SGF end */
/* Footer start */
footer {
  background-color: #a5a4b5;
  padding: 25px 0;
}

.footer {
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;

  &__logo {
    flex-basis: 35%;
    max-width: 35%;
  }

  &__development {
    font-size: 14px;
    text-align: left;
    opacity: 0.7;
    flex-basis: 20%;
    max-width: 20%;

    a:hover {
      text-decoration: underline;
    }
  }

  &__contacts {
    flex-basis: 40%;
    max-width: 40%;
  }

  &__contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__contact {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &:first-child {
      flex-basis: 30%;
      max-width: 30%;
    }

    &:last-child {
      flex-basis: 69%;
      max-width: 69%;
    }

    img {
      max-width: 16px;
      max-height: 20px;
    }

    a {
      @extend .akzidenzCn;
      font-size: 27px;
      padding-left: 10px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__logo {
    display: flex;
    align-items: center;

    img {
      flex-basis: 60%;
      max-width: 60%;
    }

    p {
      @extend .akzidenzCn;
      font-size: 27px;
      padding-right: 20px;
    }
  }
}
/* Footer end */
/* Theme start */
#main {
  background: url('../img/theme-bg.jpg') no-repeat center center /cover;
  padding: 60px 0 17px;

  &.profile-main {
    background: url('../img/main-bg.jpg') no-repeat center center /cover;
  }

  .row {
    flex-direction: column;
  }

  .title {
    text-align: center;
  }

  .theme__button {
    box-shadow: none;
    border: none;
    padding: 0;
    margin: 55px 0 0;

    img {
      transform: scale(-1,1);
      margin-right: 8px;
    }
  }
}

h1 {
  @extend .akzidenzMdCn;
  font-size: 66px;
  line-height: 60px;
  margin: 0 auto;
  padding: 10px 0;
}
/* Theme end */
/* Theme start */
#theme {
  text-shadow: 0 1px 1px rgba(150, 150, 150, 1);
  padding: 50px 0 90px;

  h2 {
    margin: 0 auto;
  }
}

.modul {
  margin: 30px 0 0;
  background-color: #e7edf8;
  width: 100%;
  color: #000;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  max-height: 192px;
  border-radius: 2px;

  &.active {
    .modul__title h2 {
      color: #fff;
    }
    background-color: #134fbf;
    color: #fff;

    .modul__number {
      background-color: #1143a2;

      & .theme__top {
        color: #fff;
      }

      & .theme__line {
        background-color: #fff;
      }
    }

    .modul__value {
      opacity: 1;
    }
  }

  &__number {
    @extend .akzidenzMdCn;
    font-size: 215px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 17.5%;
    background-color: #d1d9e8;
    position: relative;

    p {
      line-height: 1;
      opacity: 0.3;
      color: #fff;
    }

    & .theme__top {
      position: absolute;
      bottom: 40px;
      left: 0;
      width: 100%;
      flex-grow: 1;
      color: #134fbf;
    }

    & .theme__line {
      flex-basis: 5%;
      background-color: #134fbf;
    }
  }

  &__center {
    display: flex;
    justify-content: space-between;
    flex-basis: 57.5%;
    align-items: center;
    padding: 0 42px;
  }

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    h2 {
      color: #000;
      line-height: 40px;
      margin-bottom: 38px !important;
    }

    p {
      font-size: 14px;
      margin-left: 10px;
    }
  }

  &__coach {
    img {
      border-radius: 50%;
      max-width: 32px;
    }
    display: flex;
    align-items: center;
  }

  &__value {
    opacity: 0;

    span {
      font-size: 42px;
    }
  }

  &__end {
    display: flex;
    flex-basis: 25%;
    position: relative;
    align-items: center;

    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 80%;
      top: 10%;
      left: 0;
      border-left: 1px solid #bcc1d3;
      z-index: 1;
    }

    & .theme__button {
      z-index: 10;
      height: 80%;
      max-height: 80%;
      margin-bottom: 30px;
    }
  }
}
/* Theme end */
/* Video start */
#video {
  padding: 45px 0;
  text-shadow: 0 1px 1px rgba(150, 150, 150, .5);

  .row {
    width: 80%;
    margin: 0 auto;
  }
}

.video {
  width: 100%;
  max-height: 550px;
  min-height: 550px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  border-radius: 3px;

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    background-color: rgba(35, 31, 32, .3);
  }

  .coach_pic {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__content {
    color: #000;
    font-size: 20px;
    text-transform: none;
    line-height: 1.5em;

    span {
      font-size: 16px;
      text-transform: uppercase;
      color: #9699b1;
    }
  }
}

.video-end {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  padding-top: 40px;

  .video__content {
    flex-basis: 61%;
    max-width: 61%;
  }
}

.video-status {
  flex-basis: 32%;
  max-width: 32%;
  color: #9699b1;

  &__title {
    font-size: 16px;
    text-transform: uppercase;
    text-align: right;
    padding-bottom: 15px;
  }

  li {
    border-top: 1px solid #9699b1;
    border-bottom: 1px solid #9699b1;
    padding: 15px 25px 15px 0;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    align-items: center;

    span {
      color: #000;
      @extend .akzidenzMd;
      font-size: 24px;
      line-height: 1;
    }

    &:nth-of-type(2) {
      border-top: none;
      border-bottom: none;
    }

    &:last-child {
      font-weight: bold;
    }
  }
}
/* Video end */
/* Test start */
#test {
  background-color: #f0f3fa;
  padding: 75px 0;
  text-shadow: 0 1px 1px rgba(150, 150, 150, .5);

  .row {
    width: 80%;
    margin: 0 auto;
  }

  h2 {
    margin: 0 auto;
    text-align: center;
    line-height: 30px;

    span {
      font-family: 'ProximaNova';
      font-size: 14px;
      text-transform: uppercase;
    }
  }
}

.test-count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  padding: 17px 0;
  border-top: 1px solid #bcc1d3;
  border-bottom: 1px solid #bcc1d3;
  color: #9699b1;
  margin-bottom: 20px;
}

.test-line {
  display: flex;
  flex-direction: column;
  flex-basis: 75%;
  padding-right: 44px;
  justify-content: space-between;
  height: 100%;
}

.test-time {
  display: flex;
  flex-basis: 25%;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-left: 1px solid #bcc1d3;
    z-index: 1;
  }
}

.test-progress {
  display: flex;
  height: 10px;
  border-radius: 7px;
  flex-flow: 1;
  overflow: hidden;

  &__green {
    flex-basis: 10%;
    background-color: #14ad6b;
  }

  &__grey {
    flex-basis: 90%;
    background-color: #ced0db;
  }
}

.test-time {
  img {
    margin-right: 15px;
  }
}

.test-clock {
  font-size: 49px;
  margin-bottom: -10px;

  span {
    font-size: 31px;
  }
}

.test-content {
  @extend .video__content;

  span {
    font-size: 30px;
  }
}

.test-form {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  flex-wrap: wrap;
  height: 370px;
  margin-top: 30px;

  label {
    flex-basis: 48%;
    background-color: #fff;
    color: #000;
    display: flex;
    align-items: center;
    text-transform: none;
    border: 1px solid #cccdd9;
    padding-left: 30px;
    height: 100px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
  }

  .theme__bottom {
    display: flex;
    width: 100%;
    justify-content: flex-end;

    a {
      flex-basis: 10%;
      margin: 0;
      background-color: #ecf0f9;
      color: #9b9eae;

      img {
        mix-blend-mode: difference;
        opacity: 0.3;
      }

      &:first-child {
        margin-right: 25px;

        img {
          transform: scale(-1,1);
        }
      }

      &:last-child {
        img {
          margin-right: 0;
          margin-left: 15px;
        }
      }

      &:hover img {
        mix-blend-mode: hard-light;
        opacity: 1;
      }

      &:hover {
        background-color: #14ad6b;
        color: white;
        border-color: white;
      }
    }
  }
}
/* Test end */
/* Homework start */
#homework {
  padding: 75px 0;
  text-shadow: 0 1px 1px rgba(150, 150, 150, .5);

  .row {
    width: 80%;
    margin: 0 auto;
  }

  h2 {
    margin: 0 auto;
    text-align: center;
    line-height: 30px;

    span {
      font-family: 'ProximaNova';
      font-size: 14px;
      text-transform: uppercase;
    }
  }
}

.homework-content {
  @extend .video__content;
  margin-top: 20px;
}

.homework-form {
  background-color: #f0f3fa;
  width: 100%;
  padding: 58px 53px;
  border-radius: 2px;
  margin-top: 35px;

  textarea {
    box-shadow: inset 0 0 15px 0 rgba(0,0,0,0.33);
    resize: none;
    padding: 30px;
    font-family: 'ProximaNova';
    font-size: 20px;
    width: 100%;
    border-radius: 3px;
  }

  .button,
  button {
    width: 252px;
    height: 70px;
    line-height: 70px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.33);
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
    text-transform: uppercase;
  }

  button {
    background: #14ad6b;
    transition: background 0.2s;
    color: white;
    text-shadow: 0 1px 1px rgba(150, 150, 150, .5);

    &:hover {
      background: transparent;
      color: #14ad6b;
      border: 1px solid #14ad6b;
    }
  }
}

.form-end {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.file_upload {
  display: flex;
  position: relative;
  // overflow: hidden;
  height: 70px;
  align-items: center;
}

.file_upload .button,
.file_upload > mark {
  cursor: pointer;
}

.file_upload .button {
  width: 251px;
  height: 100%;
  text-align: center;
}

.file_upload > mark {
  background: transparent;
  padding-left: 1em;
  font-size: 14px;
  color: #9699b1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 250px;
}
@media only screen and ( max-width: 500px ) {
  .file_upload > mark {
    display: none;
  }

  .file_upload .button {
    width: 100%;
  }
}

.file_upload input[type=file] {
  position: absolute;
  top: 0;
  opacity: 0;
}
/* Making it beautiful */

.file_upload {
  border-radius: 3px;
  transition: box-shadow 0.1s linear;
}

.file_upload .button {
  background: transparent;
  transition: background 0.2s;
  border-color: #14ad6b;
  color: #14ad6b;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-height: 38px;
    margin-right: 14px;
  }

  &:hover {
    background: #14ad6b;
    text-shadow: #14ad6b 0 -1px 0;
    color: #fff;

    img {
      filter: contrast(200%);
    }
  }
}

.file_upload:active .button {
  background: #14ad6b;
  box-shadow: 0 0 3px rgba(0,0,0,0.3) inset;
}
/* Homework end */
/* modul start */

#modul {
  padding: 80px 0;
  box-shadow: inset 0 0 80px -10px rgba(0,0,0,0.33);

  .row {
    justify-content: space-between;
  }

  .modul {
    flex-basis: 49%;
    max-width: 49%;
    flex-direction: row-reverse;

    &__number {
      flex-basis: 35%;

      &::after {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 100%;
        height: 20%;
        display: block;
        content: '';
        background: url('../img/theme-lock.png') no-repeat right top / contain;
        opacity: 0.3;
      }
    }

    &__center {
      flex-basis: 65%;
    }

    &.active {
      flex-direction: row;

      .modul__number::after {
        display: none;
      }
    }
  }
}
/* modul end */
/* Profile start */
#profile {
  padding: 58px 0 114px;
  text-shadow: 0 1px 1px rgba(150, 150, 150, .3);

  .row {
    justify-content: space-between;
  }

  h2 {
    border-bottom: 1px solid #c8cbd8;
    margin-bottom: 30px;
  }
}

.user-side {
  height: 485px;
  background-color: #a5a4b5;
  padding: 40px 40px 84px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__avatar {
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }

  &__end {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
    height: 36px;
    background-color: rgba(59, 65, 87, .6);
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-height: 20px;
    }
  }

  &__name {
    font-size: 56px;
    @extend .akzidenzMdCn;
    line-height: 1;
  }
}

.profile-form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &__group {
    display: flex;
    align-items: center;
    justify-content: space-between;

    label {
      flex-basis: 35%;
      max-width: 35%;
    }

    #borndate,
    div,
    input {
      flex-basis: 65%;
      max-width: 65%;
    }

    #borndate {
      display: flex;
      flex-grow: 1;
      justify-content: space-between;
    }

    label {
      font-size: 16px;
      color: #8d90a3;
      text-align: right;
      padding-right: 30px;
    }

    select {
      cursor: pointer;
      position: relative;
    }

    input,
    select {
      height: 64px;
      border: 1px solid #c8cbd8;
      margin: 7px 0;
      padding-left: 15px;
      font-size: 20px;
      color: #000;
      text-shadow: 0 1px 1px rgba(150, 150, 150, .3);
    }

    select[name^="day"] {
      flex-basis: 18%;
    }

    select[name^="month"] {
      flex-basis: 57%;
    }

    select[name^="year"] {
      flex-basis: 23%;
    }

    a {
      margin-right: auto;
      margin-bottom: 40px;
      margin-top: 10px;
    }

    div {
      display: flex;
      justify-content: space-between;
    }

    a,
    button[type^="reset"] {
      color: #8d90a3;
      background-color: transparent;
      text-transform: uppercase;
      text-shadow: 0 1px 1px rgba(150, 150, 150, .3);
      font-size: 14px;
      text-align: left;

      &:hover {
        text-decoration: underline;
      }
    }

    button {
      cursor: pointer;
      flex-basis: 35%;
      max-width: 35%;

      &[type^="submit"] {
        @extend .sgf-button;
        box-shadow: 0 5px 29px 0 rgba(0,0,0,0.33);
        color: white;
        font-size: 14px;
        text-transform: uppercase;
        font-family: 'ProximaNova';
        font-weight: normal;
        flex-basis: 55%;
        max-width: 55%;

        &:hover {
          opacity: 0.8;
          transition: none;
        }
      }
    }
  }
}
/* Profile end */
